{
  "presets": ["react-native"],
  "plugins": [
    ["babel-plugin-root-import", [{
        "rootPathPrefix": "%",
        "rootPathSuffix": "assets/images/"
      }, {
        "rootPathPrefix": "~",
	"rootPathSuffix": ""
      }]
    ]
  ]
}o